.note-bg{
    background-color: #f8a79a;
    max-width: 250px;
    text-align: center;
    text-overflow: ellipsis;
    padding: 20px;
}
.note-buttons-div{
    display: flex;
    align-content: flex-end;
    gap: 10px;
    position: relative;
    bottom: -15px;
}
.note-buttons{
    border-radius: 100%;
    border: none;
    background-color: #fc3737a9;
    color: #fff;
}